body {
  background-color: #141414;
  font-family: Arial;
  color: white;
}

li {
  margin: 10;
}
#Title {
  padding: 30px;
  margin-bottom: -10px;
}
#data {
  float: left;
  clear: left;
  width: 500px;
  margin: 5px;
  outline: none;
  padding: 5px;
  margin-left: 80px;
}
#dataLive {
  width: 500px;
  margin: 5px;
  outline: none;
  display: inline-block;
  padding: 5px;
  margin-right: 80px;
}
hr {
  display: block;
  height: 0%;
  border: 0;
  border: 2px solid #ca0144;
  border-radius: 10px;
}
#MyButton {
  background-color: #548d96;
  border-radius: 24px;
  border: 1px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
  clear: left;
  width: 380px;
  margin-bottom: 0px;
  outline: none;
  padding: 10;
  transition-duration: 0.4s;
}
#MyLink {
  text-decoration: none;
}
#MyButton:hover {
  background-color: #30565c;
}
#MyButton:active {
  position: relative;
  top: 1px;
}
#Title {
  text-align: center;
}
#centreit {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
#centredata {
  margin-left: 10%;
}
